.navbar .container {
  .glyphicon-plus {
    color: #9d9d9d;

    &:hover {
      color: #fff;
    }
  }

  .navbar-right {
    &__profile > a {
      $navbar-padding-vertical: 10px;
      padding-bottom: $navbar-padding-vertical;
      padding-top: $navbar-padding-vertical;
    }
  }
}
